html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
  min-height: 100%;
  counter-reset: companycounter;
}

.col {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
}

.media {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.media__left {
	float: left;
	width: 65%;
}
.media__right {
	float: right;
	width: 30%;
}

.header, .footer {
  width: 100%;
  overflow: hidden;
}
.header a,
.footer a {
	color: #fff;
	text-decoration: none;
}

.header {
  background-color: #ec5d57;
  line-height: 100px;
}
.header__logo {
  float: left;
  font-size: 40px;
}
.header__nav {
    float: right;
    font-size: 20px;
}
.header__nav a {
	display: inline-block;
	margin-left: 40px;
}

.footer {
  margin-top: 100px;
  color: #666;
}

.company {
  padding-bottom: 50px;
  color: #666;
}
.company img {
	display: block;
	box-shadow: 0 5px 30px #000;
}
.company__vote {
  text-align: center;
}

.button--vote {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 6px solid #fafafa;
	background-repeat: no-repeat;
	background-size: 85%;
	overflow: hidden;
	text-indent: -666px;
}

.button--vote--up {
  background-image: url('img/vote--up.png');
  background-position: 8px 3px;
}
.button--vote--down {
  margin-left: 3%;
  background-image: url('img/vote--down.png');
  background-position: 2px 10px;
}

.companylist {
  list-style: none;
  padding-left: 82px;
}
.companylist li {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.companylist li:before {

  float: left;
  overflow: hidden;
  width: 70px;
  height: 70px;
	border-radius: 50%;
	border: 6px solid #fafafa;
	font-size: 40px;
	line-height: 70px;
	text-align: center;
	margin-left: -82px;

	content: counter(companycounter);
	counter-increment: companycounter;
}
.companylist__img {
  width: 20%;
  margin: 0 5%;
  float: left;
  box-shadow: 5px 5px 10px #bbb;
}
.companylist__details {
  width: 70%;
  float: left;
}
.companylist__details__name {
  font-size: 20px;
  margin-right: 10px;
}

.arrow-up:before {
  color: #0f0;
  content: ' \2191';
}
.arrow-down:before {
  color: #f00;
  content: ' \2193';
}


@media all and (max-width: 780px) {
  .media__left,
  .media__right {
    width: 100%;
  }
}
@media all and (max-width: 680px) {
  .companylist {
    padding: 0;
  }
  .companylist li {
    margin-bottom: 50px;
    text-align: center;
  }
  .companylist li:before {
    margin: 0 -82px 0 0;
  }
  .companylist__img {
    float: none;
    display: inline-block;
    width: 40%;
  }
  .companylist__details {
    clear: both;
    margin-top: 20px;
    width: 100%;
  }
  .companylist__details p {
    text-align: left;
  }
}
@media all and (max-width: 520px) {
  .col {
    width: 90%;
  }
  .header {
    line-height: 50px;
  }
  .company {
    padding-top: 25px;
  }
}